<!-- app/pods/index/template.hbs -->
{{title "Dashboard"}}
<div class="ui grid">
    {{#if media.isDesktop}}
        <div class="ui computer only centered two column row">
            <div class="column">
                <div class="ui header">
                    Dashboard
                </div>
                {{!-- Project List Component --}}
                {{project-list}}
            </div>
        </div>
    {{else if (or media.isTablet media.isMobile)}}
        <div class="ui tablet only mobile only row">
            <div class="column">
                <div class="ui header">
                    Dashboard
                </div>
                {{!-- Project List Component --}}
                {{project-list}}
            </div>
        </div>
    {{/if}}
</div>

{{!-- OSF File-Widget Component --}}
{{!-- TODO:0 issue:3 Develop file-widget --}}
{{!-- {{file-widget preUpload=(action 'preUpload') buildUrl=(action 'buildUrl') listeners=dropzoneOptions options=dropzoneOptions}} --}}

{{!-- TODO:0 issue:4 Develop Execution Dashboard as component --}}
{{!-- Execution Dashboard Component (Needs to be developed as a component)--}}
{{!-- {{execution-dashboard}} --}}
