<div class="ui inverted menu main navbar">
    <div class="ui black button item" {{action 'toggle' 'sub-sidebar'}}>
        <i class="white list icon"></i>
    </div>
    <div class="header item">
        {{#link-to 'index'}}
            <img class="ui right spaced image logo header" src="/assets/images/craft.png" alt="CRAFT Logo"/>
            CRAFT Repository
        {{/link-to}}
    </div>
    <div class="right menu">
        {{#if session.isAuthenticated}}
            {{#ui-dropdown class="right item"}}
                <div class="ui black user login">
                    <img class="ui avatar image" src="{{gravatarUrl}}" alt="User gravatar" width="25px">
                    {{user.fullName}}
                </div>
                <i class="dropdown icon"></i>
                <div class="menu">
                    {{#link-to 'profile' class="item"}}
                        <i class="user icon"></i> Profile
                    {{/link-to}}
                    <div class="item" {{action 'logout'}}>
                        <i class="log out icon"></i> Logout
                    </div>
                </div>
            {{/ui-dropdown}}
        {{else}}
            {{#link-to 'login' class="ui green button item"}}
                <i class="login icon"></i>Login
            {{/link-to}}
        {{/if}}
    </div>
</div>

{{#ui-sidebar class="ui inverted left compact vertical sidebar labeled icon menu" context=".component.context" id="sub-sidebar"}}
    {{#link-to 'index' invokeAction=(action 'closeMenu') class="item"}}
        <i class="dashboard icon"></i>
        Dashboard
    {{/link-to}}
    {{#link-to 'projects' invokeAction=(action 'closeMenu') class="item"}}
        <i class="list icon"></i>
        My Projects
    {{/link-to}}
    {{#link-to 'users' invokeAction=(action 'closeMenu') class="item"}}
        <i class="users icon"></i>
        Users
    {{/link-to}}
    {{#link-to 'registrations' invokeAction=(action 'closeMenu') class="item"}}
        <i class="users icon"></i>
        My Registrations
    {{/link-to}}
{{/ui-sidebar}}
