<!-- app/pods/projects/index/template.hbs -->
{{title "Projects"}}
<div class="ui two column grid">
    <div class="column">
        <h2 class="ui header">My Projects</h2>
    </div>
    <div class="right aligned column ">
        {{project-create reloadRoute='reloadProjectListRoute'}}
    </div>
</div>

{{project-cards model=model}}

{{!-- Pagination --}}
<div class="ui inverted black segment pagination">
    {{pagination-control-ui
        currentPage=page
        pageCount=totalPages
        next=(action 'next')
        previous=(action 'previous')
        goToPage=(action 'goToPage')
    }}
</div>

<div class="ui segments">
    {{#each publicProjects as |publicProject|}}
    <div class="segment">

            {{publicProject.title}}

    </div>
    {{/each}}
</div>
