<!-- app/pods/components/projects-cards/template.hbs -->
<div class="ui three stackable doubling cards">
    {{!-- Initialize Loader --}}
    {{loading-widget isPrivate=true}}

    {{#each list as |project|}}
        <div class="ui fluid card">
            <div class="fluid image">
                <img src="/assets/images/chip.jpg">
            </div>
            <div class="content">
                <div class="header">{{project.title}}</div>
                <div class="meta">
                    <span class="date">Last Updated on {{moment-from-now project.dateModified}}</span><br>
                    Type: {{capitalize project.category}}
                </div>
                <div class="description">
                    {{project.description}}
                </div>
            </div>
            <div class="extra content">
                {{#link-to 'projects.detail' project.id class="ui bottom attached red labeled icon button"}}
                 Detail <i class="expand icon"></i>
                {{/link-to}}
            </div>
        </div>
    {{/each}}
</div>

{{!-- Pagination --}}
<div class="ui segment pagination">
    {{pagination-control-ui
        currentPage=page
        pageCount=totalPages
        next=(action 'next')
        previous=(action 'previous')
        goToPage=(action 'goToPage')
    }}
</div>
