<!-- app/pods/components/project-edit/template.hbs -->
{{!-- Edit Project Button --}}
<button {{action 'openProjectEdit' 'project-edit'}} class="ui tiny green fluid basic button">
    <i class="edit icon"></i>
    Edit Project
</button>

{{!-- Edit Project Modal --}}
{{#ui-modal name="project-edit" class="project edit" onDeny=(action 'cancelProjectEdit')}}
    <i class="close icon"></i>
    <div class="header">
        Edit Project: {{project.title}}
    </div>
    <div class="content">
        <div class="ui form">
            <div class="ui two column stackable grid">
                <div class="column">
                    <label class="bold">Title:</label>
                    <div class="ui fluid input">
                        {{input type="text" value=editedTitle placeholder="Project Title"}}
                    </div>
                </div>
                <div class="column">
                    <label class="bold">Description (optional):</label>
                    <div class="ui fluid input">
                        {{input type="text" value=editedDescription placeholder="Project Description"}}
                    </div>
                </div>
                <div class="column">
                    <label class="bold">Category:</label>
                    <div class="ui fluid input">
                        {{#ui-dropdown class="selection" selected=selectedCategory
                            onChange=(action 'categoryChange') as |execute mapper|}}
                            <div class="default text">Categories</div>
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                {{#each categories as |category|}}
                                    <div class="item" data-value="{{map-value mapper category.value}}">
                                        {{category.description}}
                                    </div>
                                {{/each}}
                            </div>
                        {{/ui-dropdown}}
                    </div>
                </div>
                <div class="column">
                    <label class="bold">Privacy Settings:</label>
                    <div class="inline fields">
                        <div class="inline field">
                            {{ui-radio name="isPublic" value=true current=project.public label="Public"
                                onChange=(action 'isPublicChange' value=target.value)}}
                        </div>
                        <div class="inline field">
                            {{ui-radio name="isPublic" value=false current=project.public label="Private"
                                onChange=(action 'isPublicChange' value=target.value)}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <button {{action 'cancelProjectEdit' 'project-edit'}} class="ui black deny button">
            <i class="close icon"></i>Cancel
        </button>
        <button disabled={{isSaving}} {{action "updateProject" editedTitle editedDescription
        editedCategory isPublic}} class="ui positive right labeled icon button">
            Save changes
            <i class="checkmark icon"></i>
        </button>
    </div>
{{/ui-modal}}
