<!-- app/pods/users/list/template.hbs -->
{{title "Users"}}
<h2 class="ui header">Users</h2>

{{!-- User List --}}
<div class="ui four doubling cards">
    {{#each model as |user|}}
        <div class="ui card">
            <div class="content">
                <h3 class="ui header">{{user.fullName}}</h3>
            </div>
            <div class="content">
                <div class="ui small feed">
                    <div class="event">
                        <div class="content">
                            <div class="summary">
                                <div class="ui list">
                                    <div class="item">
                                        <div class="content">
                                            <h5 class="ui blue sub header">
                                                <i class="calendar icon"></i>Date Registered
                                            </h5>
                                            <div class="description">
                                                {{moment-format user.dateRegistered}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="content">
                                            <h5 class="ui blue sub header">
                                                <i class="idea icon"></i>User ID
                                            </h5>
                                            <div class="description">
                                                {{user.id}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{!-- View on OSF Button --}}
            {{!-- <a href="{{user.links.html}}" target="_blank" class="ui blue button"> View On OSF</a> --}}
            {{link-to 'Detail' 'users.detail' user.id class="ui bottom attached button"}}
        </div>
    {{/each}}
</div>

{{!-- Pagination --}}
<div class="ui inverted black segment pagination">
    {{pagination-control-ui
        currentPage=page
        pageCount=totalPages
        next=(action 'next')
        previous=(action 'previous')
        goToPage=(action 'goToPage')
    }}
</div>
