<!-- app/pods/application/template.hbs -->
{{title "Craft Repository"}}

<div class="ui pushable segment component context">
    {{navbar-sidebar}}
    <div class="pusher">
        {{navbar-main}}
        <div class="main page" role="main">
            {{outlet}}
        </div>
        {{footer-main}}
    </div>
</div>
