<!-- app/pods/application/template.hbs -->
{{title "Craft Repository"}}
{{!-- <div class="context"> --}}
    {{!-- {{partial 'sidebar'}} --}}
    {{!-- <div class="pusher"> --}}
        {{navbar-main loginAction=(action 'login')}}
        <div class="ui basic page segment" role="main">
            {{outlet}}
        </div>
        {{footer-main}}
    {{!-- </div> --}}
{{!-- </div> --}}
