<!-- app/pods/application/template.hbs -->
{{title "Craft Repository"}}
{{!-- <div class="context"> --}}
    {{!-- {{partial 'sidebar'}} --}}
    {{!-- <div class="pusher"> --}}
        {{!-- {{partial 'navbar'}} --}}
<div class="ui pushable segment component context">
    {{navbar-main}}

    <div class="pusher">
        <div class="main page" role="main">
            {{outlet}}
        </div>

        {{footer-main}}
    </div>
</div>
    {{!-- </div> --}}
{{!-- </div> --}}
