<!-- app/pods/components/comment-detail/template.hbs -->
<div class="comment">
    {{#if comment.deleted}}
        <div>
            Comment deleted
            {{# if comment.canEdit}}
                <button {{action restoreComment comment}} class="ui yellow button">Restore</button>
            {{/if}}
        </div>
    {{else}}
        <a class="avatar">
            <!-- TODO: Add customer avatar helper -->
            <img src="http://semantic-ui.com/images/avatar/small/christian.jpg">
        </a>
        <div class="content">
            <!-- TODO: Add Author Helper -->
            <a class="author">
                Name of User
            </a>

            <!-- TODO: Add More Metadata? -->
            <div class="metadata">
                {{moment-from-now comment.dateCreated}}
            </div>

            {{#if comment.canEdit}}
                <div class="ui form">
                    <div class="text field">
                        {{input value=comment.content}}
                    </div>
                </div>
                <div class="field">
                    <a class="ui tiny button" {{action editComment comment}}>Edit</a>
                    <a class="ui tiny button" {{action deleteComment comment}}>Delete</a>
                    <!-- TODO: Add ability to reply -->
                    <a class="ui tiny button">Reply</a>
                </div>

                {{!-- <button {{action editComment comment}} class="ui green button">Edit</button>
                <button {{action deleteComment comment}} class="ui red button">Delete</button> --}}
            {{else}}
            <div class="ui form">
                <div class="text field">
                    {{comment.content}}
                </div>
            </div>
                <div class="field">
                    <a class="ui tiny button" {{action reportComment comment}}>Report</a>
                    <!-- TODO: Add ability to reply -->
                    <a class="ui tiny button">Reply</a>
                </div>

                {{!-- <button {{action reportComment comment}} class="ui yellow button">Report</button> --}}
            {{/if}}
            <!-- TODO: Add Logic to have nested comments when user replies (See Semantic "Threaded Comments") -->
            {{!-- {{#if some kind of logic}}
                <div class="comments">
                    <div class="comment">
                        <a class="avatar">
                            <!-- TODO: Add customer avatar helper -->
                            <img src="http://semantic-ui.com/images/avatar/small/christian.jpg">
                        </a>
                        <div class="content">
                            <a class="author">
                                Name of User
                            </a>
                            <!-- TODO: Add More Metadata? -->
                            <div class="metadata">
                                {{comment.dateCreated}}
                            </div>
                            {{#if comment.canEdit}}
                                <div class="text">
                                    {{input value=comment.content}}
                                </div>
                                <div class="actions">
                                    <a class="edit" {{action editComment comment}}>Edit</a>
                                    <a class="hide" {{action deleteComment comment}}>Delete</a>
                                    <!-- TODO: Add ability to reply -->
                                    <a class="reply">Reply</a>
                                </div>
                            {{else}}
                                <div class="text">
                                    {{comment.content}}
                                </div>
                                <div class="actions">
                                    <a class="hide" {{action reportComment comment}}>Report</a>
                                    <!-- TODO: Add ability to reply -->
                                    <a class="reply">Reply</a>
                                </div>
                            {{/if}}
                        </div>
                    </div>
                </div>
            {{/if}} --}}
        </div>
    {{/if}}
</div>
